<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link href="css/style.css" rel="stylesheet" type="text/css">
        {% endblock %}
    </head>
    <body>
    <div id="background">
        <div id="page">
            <div class="header">
                <div class="footer">
                    <div class="body">
                        <div id="sidebar"> <a href="{{ path('homepage') }}"><img id="logo" src="images/logo.gif" with="154" height="74" alt=""></a>
                            <ul class="navigation">
                                <li /*class="active"*/><a href="{{ path('homepage') }}">HOME</a></li>
                                <li><a href="{{ path('about') }}">ABOUT</a></li>
                                <li><a href="{{ path('blog') }}">BLOG</a></li>
                                <li class="last"><a href="{{ path('contact') }}">CONTACT</a></li>
                            </ul>
                            <div class="connect"> <a href="https://facebook.com" class="facebook">&nbsp;</a> <a href="http://twitter.com" class="twitter">&nbsp;</a> <a href="http://vimeo.com" class="vimeo">&nbsp;</a> </div>
                            <div class="footenote"> <span>&copy; Copyright &copy; 2011.</span> <span><a href="#">Domain Name</a> all rights reserved</span> </div>
                        </div>
        {% block body %}{% endblock %}
                    </div>
                </div>
                <div class="shadow">&nbsp;</div>
            </div>
        </div>
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
